* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./img/markus-spiske-iar-afB0QQw-unsplash.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 20px;
}
ul,
li {
  margin: 0;
  padding: 0;
}
.containerr {
  display: flex;
}
.ul__li,
.ul__li__post,
.ul__li__comment {
  margin-top: 10px;
  height: 635px;
  border: 4px solid black;
  overflow: auto;
  width: 500px;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid green;
  margin-left: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 10px;
  border: 2px solid green;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: green;
}
.list-group-item {
  background: rgba(0, 0, 0, 0.9);
  color: green;
  cursor: pointer;
  border: 2px solid green;
}
/* a:hover {
  text-decoration: underline;
} */
.list-group-item:hover a {
  text-decoration: underline;
  color: green;
}
.list-group-item:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
  color: green;
}
